# ── PostgreSQL ───────────────────────────────────────────────
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# ── MinIO ────────────────────────────────────────────────────
MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=

# ── Airflow ──────────────────────────────────────────────────
AIRFLOW_ADMIN_USER=
AIRFLOW_ADMIN_PASSWORD=