# Data files - never commit actual data
data/raw/*
data/cleansed/*
data/transformed/*
data/curated/*
data/quarantine/*
data/reference/*
data/inbound/*
data/outbound/*
data/hold/*

# Keep folder structure
!data/raw/.gitkeep
!data/cleansed/.gitkeep
!data/transformed/.gitkeep
!data/curated/.gitkeep
!data/quarantine/.gitkeep
!data/reference/.gitkeep
!data/inbound/.gitkeep
!data/outbound/.gitkeep
!data/hold/.gitkeep

# Python virtual environments
venv/
.venv/

# Python
__pycache__/
*.pyc
*.pyo
.env

# Scala / Java
target/
*.class
*.jar

# IDE
.idea/
.vscode/
*.iml

# Docker
*.log

# Mac
.DS_Store

# Secrets & configs with passwords
config/*.env
infra/**/*.env

